In [1]:
from mmdata import *
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
conference_away.head()

,YEAR,CONF ID,CONF,BADJ EM,BADJ O,BADJ D,BARTHAG,G,W,L,...,AVG HGT,EFF HGT,EXP,TALENT,FT%,OP FT%,PPPO,PPPD,ELITE SOS,WAB
0,2024,1,A10,5.1,109.2,104.1,0.634,167,65,102,...,77.133,80.264,1.884,18.386,73.4,72.5,1.045,1.088,30.416,-2.3
1,2024,2,ACC,10.0,110.9,100.9,0.748,169,64,105,...,77.897,81.078,1.653,62.324,72.6,74.4,1.035,1.093,43.482,-0.9
2,2024,3,AE,-5.7,100.9,106.6,0.347,150,57,93,...,76.776,79.091,2.147,6.236,69.8,72.3,0.996,1.057,17.208,-6.4
3,2024,4,Amer,3.3,108.1,104.8,0.588,161,64,97,...,77.293,80.347,2.237,30.455,70.3,73.4,1.050,1.094,26.317,-2.8
4,2024,5,ASun,-8.0,103.5,111.5,0.298,195,50,145,...,76.777,79.668,2.026,8.164,72.8,72.2,1.034,1.142,18.353,-8.0

In [3]:
# Merge Conference play data
conference_away.groupby("YEAR")
conference_home.groupby("YEAR")
conference_play =pd.concat([conference_home, conference_away], axis=1)
conference_away_neutral.groupby("YEAR")
conference_play = pd.concat([conference_play, conference_away_neutral], axis=1)
print(conference_play)

     YEAR  CONF ID  CONF  BADJ EM  BADJ O  BADJ D  BARTHAG    G    W   L  ...  \
0    2024        1   A10      5.7   108.0   102.3    0.651  241  169  72  ...
1    2024        2   ACC     13.0   111.9    98.9    0.805  250  180  70  ...
2    2024        3    AE     -5.1   101.7   106.8    0.363  112   70  42  ...
3    2024        4  Amer      4.4   108.6   104.2    0.617  215  143  72  ...
4    2024        5  ASun     -8.1   104.2   112.3    0.297  145   93  52  ...
..    ...      ...   ...      ...     ...     ...      ...  ...  ...  ..  ...
514  2008       21   NEC     -9.6    96.8   106.4    0.252  156   77  79  ...
515  2008       22   OVC     -9.8    98.7   108.5    0.252  137   77  60  ...
516  2008       35   ind    -13.2    94.3   107.5    0.181   86   37  49  ...
517  2008       18  MEAC    -13.3    91.9   105.2    0.175  119   75  44  ...
518  2008       31  SWAC    -18.2    91.0   109.2    0.109  101   53  48  ...

     AVG HGT  EFF HGT    EXP  TALENT   FT%  OP FT%   PPPO   PPPD  ELITE SOS  \
0     77.133   80.264  1.884  18.386  73.3    72.0  1.039  1.070     28.329
1     77.897   81.078  1.653  62.324  73.6    74.2  1.042  1.085     41.170
2     76.776   79.091  2.147   6.236  70.0    72.0  1.000  1.054     16.777
3     77.293   80.347  2.237  30.455  70.6    72.5  1.045  1.084     25.626
4     76.777   79.668  2.026   8.164  73.0    72.4  1.038  1.136     17.471
..       ...      ...    ...     ...   ...     ...    ...    ...        ...
514   76.372   79.194  1.632   6.229  67.5    66.7  0.948  1.052     17.013
515   76.133   79.111  1.713   9.039  67.8    70.2  0.991  1.082     14.722
516   75.951   79.037  1.791   4.541  64.9    66.5  0.914  1.059     16.911
517   75.529   78.734  1.671   1.135  66.0    69.1  0.881  1.098     21.032
518   76.242   79.138  1.867   2.903  64.3    67.9  0.896  1.047     14.739

     WAB
0   -3.1
1   -1.0
2   -6.5
3   -3.9
4   -8.3
..   ...
514 -8.6
515 -8.7
516 -9.8
517 -8.1
518 -9.8

[519 rows x 135 columns]

In [4]:
#Conver to DataFrame
conference_play = pd.DataFrame(conference_play)
conference_play

,YEAR,CONF ID,CONF,BADJ EM,BADJ O,BADJ D,BARTHAG,G,W,L,...,AVG HGT,EFF HGT,EXP,TALENT,FT%,OP FT%,PPPO,PPPD,ELITE SOS,WAB
0,2024,1,A10,5.7,108.0,102.3,0.651,241,169,72,...,77.133,80.264,1.884,18.386,73.3,72.0,1.039,1.070,28.329,-3.1
1,2024,2,ACC,13.0,111.9,98.9,0.805,250,180,70,...,77.897,81.078,1.653,62.324,73.6,74.2,1.042,1.085,41.170,-1.0
2,2024,3,AE,-5.1,101.7,106.8,0.363,112,70,42,...,76.776,79.091,2.147,6.236,70.0,72.0,1.000,1.054,16.777,-6.5
3,2024,4,Amer,4.4,108.6,104.2,0.617,215,143,72,...,77.293,80.347,2.237,30.455,70.6,72.5,1.045,1.084,25.626,-3.9
4,2024,5,ASun,-8.1,104.2,112.3,0.297,145,93,52,...,76.777,79.668,2.026,8.164,73.0,72.4,1.038,1.136,17.471,-8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2008,21,NEC,-9.6,96.8,106.4,0.252,156,77,79,...,76.372,79.194,1.632,6.229,67.5,66.7,0.948,1.052,17.013,-8.6
515,2008,22,OVC,-9.8,98.7,108.5,0.252,137,77,60,...,76.133,79.111,1.713,9.039,67.8,70.2,0.991,1.082,14.722,-8.7
516,2008,35,ind,-13.2,94.3,107.5,0.181,86,37,49,...,75.951,79.037,1.791,4.541,64.9,66.5,0.914,1.059,16.911,-9.8
517,2008,18,MEAC,-13.3,91.9,105.2,0.175,119,75,44,...,75.529,78.734,1.671,1.135,66.0,69.1,0.881,1.098,21.032,-8.1
518,2008,31,SWAC,-18.2,91.0,109.2,0.109,101,53,48,...,76.242,79.138,1.867,2.903,64.3,67.9,0.896,1.047,14.739,-9.8

In [5]:
conference_play.columns

Index(['YEAR', 'CONF ID', 'CONF', 'BADJ EM', 'BADJ O', 'BADJ D', 'BARTHAG',
       'G', 'W', 'L',
       ...
       'AVG HGT', 'EFF HGT', 'EXP', 'TALENT', 'FT%', 'OP FT%', 'PPPO', 'PPPD',
       'ELITE SOS', 'WAB'],
      dtype='object', length=135)

In [6]:
# Encocded conference play data
conference_play_encoded = pd.get_dummies(conference_play)

In [7]:
heat_check.head()

,YEAR,TEAM NO,TEAM,SEED,ROUND,POWER,PATH,DRAW,WINS,POOL VALUE,POOL S-RANK,NCAA S-RANK,VAL Z-SCORE,POWER-PATH
0,2024,1067,Connecticut,1,0,91.3,64.5,NaN,0,92.6,1,1,NaN,26.8
1,2024,1026,Stetson,16,0,47.1,91.0,NaN,0,0.5,64,62,NaN,-43.9
2,2024,1060,Florida Atlantic,8,0,69.3,73.2,NaN,0,9.0,28,31,NaN,-3.9
3,2024,1036,Northwestern,9,0,62.9,75.5,NaN,0,4.2,45,36,NaN,-12.6
4,2024,1029,San Diego St.,5,0,71.5,68.2,NaN,0,14.7,22,18,NaN,3.3

In [8]:
# Encode heat check data

In [9]:
# Get the correlation matrix
correlation_matrix = heat_check.corr()
print(correlation_matrix)

ValueError: could not convert string to float: 'Connecticut'

In [ ]:
team_resume

,YEAR,TEAM NO,TEAM,SEED,ROUND,NET RPI,RESUME,WAB RANK,ELO,B POWER,Q1 W,Q2 W,Q1 PLUS Q2 W,Q3 Q4 L,PLUS 500,R SCORE,BID TYPE
0,2024,1079,Akron,14,0,106,131,104,103,111.5,0,2,2,4,13,0.00,At-Large
1,2024,1078,Alabama,4,0,10,31,15,31,11.5,4,7,11,0,11,99.35,At-Large
2,2024,1077,Arizona,2,0,4,10,11,14,5.5,8,7,15,1,18,99.87,At-Large
3,2024,1076,Auburn,4,0,5,45,9,5,4.0,3,10,13,0,21,99.42,At-Large
4,2024,1075,Baylor,3,0,13,8,10,25,13.5,10,4,14,0,14,99.73,At-Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,2008,5,West Virginia,7,16,29,32,28,29,20.0,3,2,5,1,13,96.80,At-Large
1075,2008,4,Western Kentucky,12,16,39,124,46,25,45.0,0,1,1,1,19,5.30,Auto
1076,2008,3,Winthrop,13,64,108,121,108,93,96.0,1,2,3,7,9,0.00,Auto
1077,2008,2,Wisconsin,3,16,11,9,8,5,6.0,6,2,8,0,25,99.90,Auto
1078,2008,1,Xavier,3,8,9,7,18,13,13.0,9,3,12,0,21,99.70,At-Large

In [ ]:
team_results

,TEAM ID,TEAM,PAKE,PAKE RANK,PASE,PASE RANK,GAMES,W,L,WIN%,R64,R32,S16,E8,F4,F2,CHAMP,TOP2,F4%,CHAMP%
0,1,Abilene Christian,0.7,45,0.7,52,3,1,2,0.333,2,1,0,0,0,0,0,0,0.10%,0.00%
1,2,Akron,-0.9,179,-1.1,187,4,0,4,0.000,4,0,0,0,0,0,0,0,0.50%,0.00%
2,3,Alabama,-2.1,211,-2.9,220,10,5,5,0.500,5,3,2,0,0,0,0,2,48.40%,15.40%
3,4,Albany,-0.4,147,-0.3,138,3,0,3,0.000,3,0,0,0,0,0,0,0,0.00%,0.00%
4,6,American,-0.5,160,-0.4,150,3,0,3,0.000,3,0,0,0,0,0,0,0,0.20%,0.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,241,Wofford,-1.2,191,-0.9,175,6,1,5,0.167,5,1,0,0,0,0,0,0,3.60%,0.20%
232,242,Wright St.,-0.2,118,-0.2,119,2,0,2,0.000,2,0,0,0,0,0,0,0,0.00%,0.00%
233,243,Wyoming,-0.2,118,-0.5,159,1,0,1,0.000,1,0,0,0,0,0,0,0,0.00%,0.00%
234,244,Xavier,4.1,14,2.7,22,28,18,10,0.643,10,9,7,2,0,0,0,2,51.90%,8.70%
235,245,Yale,-0.1,91,0.2,71,4,1,3,0.250,3,1,0,0,0,0,0,0,3.00%,0.20%

In [ ]:
#Find correlation between team resume and team results
team_resume_results = pd.concat([team_resume, team_results], axis=1)
team_resume_results

,YEAR,TEAM NO,TEAM,SEED,ROUND,NET RPI,RESUME,WAB RANK,ELO,B POWER,...,R64,R32,S16,E8,F4,F2,CHAMP,TOP2,F4%,CHAMP%
0,2024,1079,Akron,14,0,106,131,104,103,111.5,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.10%,0.00%
1,2024,1078,Alabama,4,0,10,31,15,31,11.5,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.50%,0.00%
2,2024,1077,Arizona,2,0,4,10,11,14,5.5,...,5.0,3.0,2.0,0.0,0.0,0.0,0.0,2.0,48.40%,15.40%
3,2024,1076,Auburn,4,0,5,45,9,5,4.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00%,0.00%
4,2024,1075,Baylor,3,0,13,8,10,25,13.5,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.20%,0.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,2008,5,West Virginia,7,16,29,32,28,29,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,2008,4,Western Kentucky,12,16,39,124,46,25,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1076,2008,3,Winthrop,13,64,108,121,108,93,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077,2008,2,Wisconsin,3,16,11,9,8,5,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1078,2008,1,Xavier,3,8,9,7,18,13,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
team_resume_results.columns

Index(['YEAR', 'TEAM NO', 'TEAM', 'SEED', 'ROUND', 'NET RPI', 'RESUME',
       'WAB RANK', 'ELO', 'B POWER', 'Q1 W', 'Q2 W', 'Q1 PLUS Q2 W', 'Q3 Q4 L',
       'PLUS 500', 'R SCORE', 'BID TYPE', 'TEAM ID', 'TEAM', 'PAKE',
       'PAKE RANK', 'PASE', 'PASE RANK', 'GAMES', 'W', 'L', 'WIN%', 'R64',
       'R32', 'S16', 'E8', 'F4', 'F2', 'CHAMP', 'TOP2', 'F4%', 'CHAMP%'],
      dtype='object')

In [ ]:
# Clean up the data
team_resume_results = team_resume_results.dropna()
team_resume_results = team_resume_results.drop(columns=['TEAM NO'])
team_resume_results

,YEAR,TEAM,SEED,ROUND,NET RPI,RESUME,WAB RANK,ELO,B POWER,Q1 W,...,R64,R32,S16,E8,F4,F2,CHAMP,TOP2,F4%,CHAMP%
0,2024,Akron,14,0,106,131,104,103,111.5,0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.10%,0.00%
1,2024,Alabama,4,0,10,31,15,31,11.5,4,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.50%,0.00%
2,2024,Arizona,2,0,4,10,11,14,5.5,8,...,5.0,3.0,2.0,0.0,0.0,0.0,0.0,2.0,48.40%,15.40%
3,2024,Auburn,4,0,5,45,9,5,4.0,3,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00%,0.00%
4,2024,Baylor,3,0,13,8,10,25,13.5,10,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.20%,0.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,2021,Liberty,13,64,86,161,76,57,93.7,0,...,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.60%,0.20%
232,2021,Loyola Chicago,8,16,10,64,33,8,23.0,2,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00%,0.00%
233,2021,LSU,8,32,28,18,28,25,27.0,5,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00%,0.00%
234,2021,Maryland,10,32,35,21,53,68,35.3,4,...,10.0,9.0,7.0,2.0,0.0,0.0,0.0,2.0,51.90%,8.70%
235,2021,Michigan,1,8,4,5,3,6,4.0,8,...,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.00%,0.20%

In [ ]:
# Encode the data
team_resume_results_encoded = team_resume_results.apply(LabelEncoder().fit_transform)
team_resume_results_encoded

,YEAR,TEAM,SEED,ROUND,NET RPI,RESUME,WAB RANK,ELO,B POWER,Q1 W,...,R64,R32,S16,E8,F4,F2,CHAMP,TOP2,F4%,CHAMP%
0,3,1,13,0,78,87,80,82,143,0,...,1,1,0,0,0,0,0,0,1,0
1,3,2,3,0,9,30,14,30,26,4,...,3,0,0,0,0,0,0,0,5,0
2,3,4,1,0,3,9,10,13,11,8,...,4,3,2,0,0,0,0,2,77,23
3,3,7,3,0,4,43,8,4,7,3,...,2,0,0,0,0,0,0,0,0,0
4,3,9,2,0,12,7,9,24,32,10,...,2,0,0,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,0,57,12,7,68,100,67,55,132,0,...,4,1,0,0,0,0,0,0,52,2
232,0,61,7,5,9,59,32,7,53,2,...,1,0,0,0,0,0,0,0,0,0
233,0,56,7,6,27,17,27,24,61,5,...,0,0,0,0,0,0,0,0,0,0
234,0,63,9,6,34,20,51,64,76,4,...,9,9,7,2,0,0,0,2,82,70
235,0,67,0,4,3,4,2,5,7,8,...,2,1,0,0,0,0,0,0,47,2

In [ ]:
y = team_resume_results_encoded['CHAMP']
X = team_resume_results_encoded.drop(columns=['CHAMP'])

# Split the data.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [ ]:
y_pred = rf.predict(X_test)

In [ ]:
# Evaluate the model
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.9583333333333334

In [ ]:
# Upsets analysis
num_of_upsets = num_of_upsets.groupby('YEAR')
upset_seed_info = upset_seed_info.groupby('YEAR')

upsets = pd.concat([num_of_upsets, upset_seed_info], axis=1)
upsets = pd.DataFrame(upsets)
upsets

NameError: name 'upset_seed_info' is not defined